.logo.start.finish {
	/*position: relative;*/
	/*margin-left: 30px;*/
	margin-top: 30px;
}

.logo.start.finish .letters {
	position: relative;
	opacity:1;
	transition: opacity .3s ease-in-out;
}

.logo a {
	color: #fff;
	opacity:.7;
	transition: all .3s ease;
	letter-spacing: -.1em;
}

.logo a:hover {
    color: #fff;
    opacity:1;
    letter-spacing: -.09em;
}

.letters {
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translateY(-50%) translateX(-50%);
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
	line-height:100%;
	min-width: 800px;
	animation-name: titlescale;
	animation-duration: 3s;
	animation-timing-function: ease-out;
}

.logo.start .letters {
	left: 0;
	top: 0;
	opacity:0;
	width:auto;
	min-width:0;
	margin-top: 0;
	transform: translateX(0);
	transition: all 1s ease-in-out;
	transition-delay: 1.5s;
}

.letters:before,
.letters:after {
	background-color:#222;
	content:"";
	position: absolute;
	left: 0;
	top: 0;
	width:48%;
	height:100%;
	z-index:1;
	transition: width .5s ease-out;
}

.letters:after {
	right:0;
	left:auto;
}

.logo.start .letters:before,
.logo.start .letters:after {
	width:0;
}

.letters span {
	display: inline-block;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translateY(-50%) translateX(-50%);
	opacity: 0;
	animation-name: lettersfade;
	animation-duration:.15s;
	/*animation-fill-mode: forwards;*/
	animation-timing-function: ease;
	z-index:0;
}

.logo.start .letters span {
	position: static;
	transform: none;
	opacity: 1;
}

@keyframes lettersfade {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}

@keyframes titlescale {
	0% {
		font-size: 1rem;
	}
	55% {
		font-size: 6.5rem;
	}
	75% {
		font-size: 4rem;
	}
	100% {
		font-size: 1.5rem;
	}
}

.letters span:nth-child(1)  { animation-delay: .1s; }
.letters span:nth-child(2)  { animation-delay: .2s; }
.letters span:nth-child(3)  { animation-delay: .3s; }
.letters span:nth-child(4)  { animation-delay: .4s; }
.letters span:nth-child(5)  { animation-delay: .5s; }
.letters span:nth-child(6)  { animation-delay: .6s; }
.letters span:nth-child(7)  { animation-delay: .7s; }
.letters span:nth-child(8)  { animation-delay: .8s; }
.letters span:nth-child(9)  { animation-delay: .9s; }
.letters span:nth-child(10) { animation-delay: 1s; }
.letters span:nth-child(11) { animation-delay: 1.1s; }
.letters span:nth-child(12) { animation-delay: 1.2s; }