/* Нормалізація */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* END of Нормалізація */

html, body {
    font-family: 'LagunaC', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    max-width:100vw;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'LagunaC', sans-serif;
}

/* Ієрархія заголовків 1,2,3 рівнів  */

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

header, section {
    min-height: 100vh;
}

.container-fluid,
.container {
    margin: 0 auto; /* Центрування по-горизонталі */
    width: 100%;
    height: 100%;
    padding:25px;
}

.container {
    max-width: 1200px; /* Обмеження ширини контенту всередині секцій */
}

a {
    text-decoration: none;
}